body {
	padding-bottom: 20px;
	background-color: white;
}

a.reports-create {
	padding: 8px 60px;
	font-size: large;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	margin-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
	font-size: 20px;
	line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
	width: 100%;
}

/* QR code generator */
#qrCode {
	margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
	/* Hide captions */
	.carousel-caption {
		display: none;
	}
}


.calendar {
	min-width: 300px
}

	.calendar table {
		width: 100%;
	}

	.calendar .header .day {
	}

	.calendar .legend {
		margin-top: 0;
	}

		.calendar .legend div {
			display: inline;
			margin-right: 5px;
			word-break: keep-all;
			white-space: nowrap;
		}

@media (min-width: 768px) {
	.calendar .legend {
		margin-top: 60px;
	}

		.calendar .legend div {
			display: block;
		}
}

.calendar .day, calendar .header .day {
	padding: 15px 0;
	text-align: center;
	border: 1px solid white;
	border-style: solid;
	width: 20%;
}

	.calendar .day.active {
		cursor: pointer;
		border: 1px solid white;
		font-weight: lighter;
	}

		.calendar .day.active:hover {
			border: 1px double black;
		}

	.calendar .day.work, .calendar .legend .work {
		background-color: #00b050;
	}

	.calendar .day.holiday, .calendar .legend .holiday {
		background-color: #a6a6a6;
	}

	.calendar .day.dayoff, .calendar .legend .dayoff{
		background-color: red;
	}

	.calendar .day.sickleave, .calendar .legend .sickleave {
		background-color: #ffc000;
	}
